# Q&A

Булыгин Олег:  
* [LinkedIn](linkedin.com/in/obulygin)  
* [Мой канал в ТГ по Python](https://t.me/pythontalk_ru)
* [Чат канала](https://t.me/pythontalk_chat)
* [Блог в Телетайпе](https://teletype.in/@pythontalk)
* [PythonTalk на Кью](https://yandex.ru/q/loves/pythontalk/)

In [5]:
import sqlalchemy
from pprint import pprint
import pandas as pd

In [6]:
engine = sqlalchemy.create_engine('postgresql://postgres:admin@localhost:5432/pagila')
con = engine.connect()

## Case when

Разделите фильмы на категории:

    'без ограничений' — если у фильма рейтинг G.
    'с ограничениями' — если у фильма любой рейтинг, кроме G.

Новое поле с категориями назовите new_rating. Сгруппируйте данные по новому полю и посчитайте среднюю цену аренды фильмов для каждой категории.

In [7]:
pprint(con.execute(
'''
SELECT CASE
    WHEN rating = 'G' THEN 'без ограничений'
    WHEN rating != 'G' THEN 'с ограничениями'
    END AS new_rating,
    AVG(rental_rate)
FROM film
GROUP BY new_rating;
''').fetchall())

[('с ограничениями', Decimal('2.9997323600973236')),
 ('без ограничений', Decimal('2.8888764044943820'))]

In [8]:
CREATE INDEX ... ON table_name (..., ...)

SyntaxError: invalid syntax (639097288.py, line 1)

https://tproger.ru/articles/indeksy-v-postgresql/

## Объединение таблиц, Using

Отберите названия уникальных категорий фильмов, в которых снималась ...

In [ ]:
pprint(con.execute(
'''
SELECT DISTINCT name FROM category c
JOIN film_category fc ON c.category_id=fc.category_id
JOIN film f ON fc.film_id=f.film_id
JOIN film_actor fa ON f.film_id=fa.film_id
JOIN actor a ON fa.actor_id=a.actor_id
WHERE last_name = 'Wood';
'''
).fetchall())

In [ ]:
pprint(con.execute(
'''
SELECT DISTINCT name FROM category
JOIN film_category USING(category_id)
JOIN film USING(film_id)
JOIN film_actor USING(film_id)
JOIN actor USING(actor_id)
WHERE last_name = 'Wood';
'''
).fetchall())

Вопросы по руководству по стилю SQL.

1. (Именование таблиц) "По возможности избегайте объединения названий двух таблиц для построения таблицы отношений. Например, вместо названия cars_mechanics лучше подойдёт services."
Если не объединять названия то по какому принципу тогда? Пример не очень понятен.

2. (Именование столбцов) "По возможности не используйте id в качестве первичного идентификатора таблицы."
Почему нежелательно использовать id?

https://teletype.in/@pythontalk/requirements

## Подзапросы

Проанализируйте данные о возрастных рейтингах 40 фильмов с максимальной продолжительностью, у которых стоимость проката больше 2. Выгрузите в итоговую таблицу следующие поля:

    возрастной рейтинг (поле rating);
    минимальное и максимальное значения длительности (поле length); назовите поля min_length и max_length соответственно;
    среднее значение длительности (поле length); назовите поле avg_length;
    минимум, максимум и среднее для цены просмотра (поле rental_rate); назовите поля min_rental_rate, max_rental_rate, avg_rental_rate соответственно.

Отсортируйте среднюю длительность фильма по возрастанию.

In [ ]:
res = con.execute(
"""
SELECT top.rating,
       MIN(top.length) AS min_length,
       MAX(top.length) AS max_length,
       AVG(top.length) AS avg_length,
       MIN(top.rental_rate) AS min_rental_rate,
       MAX(top.rental_rate) AS max_rental_rate,
       AVG(top.rental_rate) AS avg_rental_rate
FROM
  (SELECT title,
          rental_rate,
          length,
          rating
   FROM film
   WHERE rental_rate > 2
   ORDER BY length DESC
   LIMIT 40) AS top
GROUP BY top.rating
ORDER BY avg_length;
""").fetchall()
res

In [ ]:
res = con.execute(
"""
WITH top AS (SELECT title,
          rental_rate,
          length,
          rating
   FROM film
   WHERE rental_rate > 2
   ORDER BY length DESC
   LIMIT 40)
SELECT top.rating,
       MIN(top.length) AS min_length,
       MAX(top.length) AS max_length,
       AVG(top.length) AS avg_length,
       MIN(top.rental_rate) AS min_rental_rate,
       MAX(top.rental_rate) AS max_rental_rate,
       AVG(top.rental_rate) AS avg_rental_rate
FROM top
GROUP BY top.rating
ORDER BY avg_length;
""").fetchall()
res

In [ ]:
pd.DataFrame(res)

In [ ]:
engine = sqlalchemy.create_engine('postgresql://postgres:admin@localhost:5432/netology_bd')
conn = engine.connect()

In [ ]:
data = pd.read_csv('diabetes.csv')
data

In [ ]:
data.to_sql(name='diabetes', con=conn, index=False, if_exists='replace')

In [ ]:
diabetes = pd.read_sql('select * from diabetes', conn)
con.close()
diabetes

In [ ]:
diabetes.info()

In [ ]:
diabetes.describe()

In [ ]:
diabetes.groupby('Outcome').mean()

In [ ]:
import seaborn as sns

sns.boxplot(data=diabetes, x='Outcome', y='Glucose')

In [ ]:
sns.histplot(data=diabetes, x='BloodPressure')

Прошу разобрать с азов:
- мы создаем базу данных через createdb через командную строку. Где она создается? Это некая физическая сущность на жестком диске?
- работаем через BeaverDB, пишем скрипты, запросы, видим табличное отображение баз и структур. Когда я загружаю скрипты на ГитХаб, как может кто-то другой ими пользоваться? Они привязываются к конкретной БД? БД загружается вместе со всеми скриптами? Ведь пока я через командную строку базу не создам, ее и в Бивере не открыть и не создать

In [ ]:
import sqlalchemy as sq
from sqlalchemy.orm import declarative_base, relationship, sessionmaker
import datetime as dt

In [ ]:
engine = sq.create_engine('postgresql://postgres:admin@localhost:5432/netology_bd')

In [ ]:
Base = declarative_base()

In [ ]:
class User(Base):
    __tablename__ = 'users'
    
    id = sq.Column(sq.BigInteger, primary_key=True)
    username = sq.Column(sq.String(50), unique=True)
    
    def __str__(self):
        return f'User: {self.username}'
    
    notes = relationship('Note', back_populates='author')
    favourite_notes = relationship('Note', secondary='users_notes', back_populates='favourite_notes')
    
class Note(Base):
    __tablename__ = 'notes'
    id = sq.Column(sq.BigInteger, primary_key=True)
    text = sq.Column(sq.UnicodeText, nullable=False)
    public = sq.Column(sq.Boolean, default=False)
    created_at = sq.Column(sq.DateTime, default=dt.datetime.now)
    
    author_id = sq.Column(sq.BigInteger, sq.ForeignKey('users.id'))
    
    def __str__(self):
        return f'Note text: {self.text[:10]}'
    
    author = relationship('User', back_populates='notes')
    favourite_notes = relationship('User', secondary='users_notes', back_populates='favourite_notes')
    
user_notes = sq.Table(
    'users_notes', Base.metadata,
    sq.Column('user_id', sq.BigInteger, sq.ForeignKey('users.id')),
    sq.Column('note_id', sq.BigInteger, sq.ForeignKey('notes.id'))
    )

In [11]:
Session = sessionmaker(bind=engine)
session = Session()
session.close()

In [10]:
def recreate_tables(engine):
    Base.metadata.drop_all(engine)
    Base.metadata.create_all(engine)
    
recreate_tables(engine)

In [12]:
class Service:
    def __init__(self, session):
        self.session = session
        
    def create_user(self, username):
        user = User(username=username)
        session.add(user)
        session.commit()
        return user

    def create_note(self, author, text, public=False):
        note = Note(text=text, author_id=author.id, public=public)
        session.add(note)
        session.commit()
        return note
    
    def list_notes(self, user):
        return self.session.query(Note).join(User).filter(
                        Note.public==True).filter(User.id==user.id)
    
service = Service(session)
user_1 = service.create_user('Oleg')
note_1 = service.create_note(user_1, 'i want to sleep', True)

for n in service.list_notes(user_1):
    print(n)

Note text: i want to

Если внести данные, а потом удалить некоторые и внести новые данные, то id select продолжает нумерацию, а не использует освободившиеся. Также если полностью удалить все данные, а потом внести, то все равно не начинается с "1", а продолжает нумерацию. Как это испраляется?
Также если внести данные, а потом еще раз выполнить скрипт, то эти же данные опять добавятся, только под новыми id, получается дубликат одних и тех же данных. Как защититься от этого?

Зачем использовать выражение if __name__ == "__main__" нужного для определения текущего модуля, если другой модуль неподразумевается? Или его нужно использовать всегда, вроде хорошего тона?

https://sql-ex.ru/